page-home {

    ion-content {
        background: rgba(255, 38, 0, 0.5) !important;
      }

      .toolbar-title-md {
        font-size: 2.0rem !important; 
        color: red !important
    }
    .toolbar-background {
        background-color:lightgray;
      }


}
